<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Index Page</title>

        <!-- Bootstrap CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <div class='container'>
        <h1 class="text-center">New Car Information</h1>
        <form action="" method="POST" role="form">
            <legend>Enter new car information here</legend>

            <div class="form-group">
                <label for="">Car Make:</label>
                <input type="text" class="form-control" name="make" placeholder="car make">
            </div>
            <div class="form-group">
                <label for="">Car Model:</label>
                <input type="text" class="form-control" name="model" placeholder="car model">
            </div>
            <div class="form-group">
                <label for="">Year:</label>
                <input type="text" class="form-control" name="year" placeholder="year">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <!-- jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </div>
    </body>
</html>